services:
  nginx:
    build: 
      context: ./docker/nginx
    container_name: nginx-container
    ports:
        - "8080:80"
    volumes:
        - .:/var/www/project
    depends_on:
        - php
        - postgres
  php:
    build: 
      context: ./docker/php
    container_name: php-container
    env_file:
      - .env.local
    volumes:
      - .:/var/www/project
  postgres:
    build:
      context: ./docker/postgres
    container_name: postgres-container
    env_file:
      - .env.local
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: