services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx-container
    ports:
        - "8080:80"
    volumes:
        - .:/var/www/project
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
        - php
        - postgres
  php:
    image: php:8.4-fpm
    container_name: php-container
    working_dir: /var/www/project
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/project
    command: >
      sh -c
      "
      apt-get update && apt-get install -y zlib1g-dev g++ git libicu-dev zip libzip-dev libpq-dev postgresql-client pkg-config
      
      docker-php-ext-install intl opcache pdo zip
      docker-php-ext-configure pgsql --with-pgsql=/usr/include/postgresql
      docker-php-ext-install pgsql pdo_pgsql

      pecl install apcu
      docker-php-ext-enable apcu

      curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
      curl -sS https://get.symfony.com/cli/installer | bash
      mv /root/.symfony*/bin/symfony /usr/local/bin/symfony
    
      php-fpm
      "
    
  postgres:
    image: postgres:17
    container_name: postgres-container
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgres

volumes:
  db_data: