services:
  nginx:
    build: 
      context: ./docker/nginx
    container_name: nginx-container
    ports:
      - 8080:80
    volumes:
      - .:/var/www/project
    depends_on:
      - php
  php:
    build: 
      context: ./docker/php
    container_name: php-container
    volumes:
      - .:/var/www/project
    depends_on:
      - postgres
  postgres:
    build:
      context: ./docker/postgres
    container_name: postgres-container
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: